@tailwind base;
@tailwind components;
@tailwind utilities;



@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


h1 {
    @apply text-xl font-bold md:text-2xl lg:text-3xl;
}
h2 {
    @apply text-xl lg:text-2xl;
}
p {
    @apply text-base font-extralight md:text-xl;
}


.square {
  padding-bottom: 100%;
}

.service-item {
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 1s
}

.hero-service-card {
    @apply max-w-80 md:max-w-96 max-md:border-b-2 border-white pb-10 mx-auto flex flex-col items-center md:bg-custom-gray md:rounded-xl md:px-3;
}

.hero-service-card-icon-container {
    @apply max-md:hidden w-fit p-2 bg-vvm-pink rounded-full -translate-y-[24px];
}

.about-p {
    @apply px-6 sm:px-16 max-w-[1260px] mx-auto mb-6 text-left;
}

.contact-input {
    @apply mb-6 w-96 rounded-[4px] text-white bg-[#090909] border-2 border-custom-gray pl-2 py-1;
}


.show {
  opacity: 1;
  filter: blur(0px);
  transform: translateX(0);
}

.show:nth-child(2) {
  transition-delay: 200ms;
}
.show:nth-child(3) {
  transition-delay: 400ms;
}
.show:nth-child(4) {
  transition-delay: 600ms;
}

@keyframes slide {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(-100%);
    }
  }
  
.logos {
    @apply overflow-hidden py-16 relative
}
  
.slide-container:before,
.slide-container:after {
    @apply absolute top-0 h-full z-[2] content-[''] w-28 md:w-56
}
  
.logos:before {
    @apply left-0 bg-gradient-to-l from-white/0 to-custom-gray to-80%
}
  
.logos:after {
    @apply right-0 bg-gradient-to-r from-white/0 to-custom-gray to-80%
}


.carousel-logo {
    @apply min-w-[128px] object-contain;
}
.carousel-logo2 {
    @apply min-w-[192px] object-contain;
}
.carousel-logo-svg {
    @apply min-w-28;
}

.image-container li {
    @apply mx-36;
}

#top-slide-1,
#top-slide-2 {
  @apply animate-infinite-scroll-left;
}

#bottom-slide-1,
#bottom-slide-2 {
  @apply animate-infinite-scroll-right;
}



.portfolio-button_lg {
    @apply p-2 w-32 rounded-3xl border-[2px] hover:bg-white transition-all duration-500 ease-linear; 
}


.portfolio-button {
    @apply p-4 w-56 border-[2px] hover:bg-white transition-all duration-300 ease-linear; 
}
